body {
  font-size: 16px;
  color: black ;
  background-color: #f0f0f0;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #828181;
  border-radius: 0;
  border: 0;
  min-height: 60px;
}

.navbar-brand {
  padding-top: 25px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black ;
  font-size: 20px;
  text-align: center;

}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header.icon-bar {
  border:  1px solid black;
}

.navbar-header button.navbar-toggle{
 clear: both;
 margin-top: -30px;

}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #0a0a0a ;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .45;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.icon-bar {
  background-color: black;
}

li a {
  border:  1px solid black;
}

.navbar-collapse {
   border-top: 0px solid transparent;
}

/* END HEADER */




/** MAIN **/

#menu-title {
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
  margin-top: -10px;
}

#main-content {
  background-color: #9c9ea1;
  padding: 0px 25px 0px 25px;
}

#second-title{
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 15px;
}


