/********** Base styles **********/
* {
  font-family: Courier New , Helvetica;
  box-sizing: border-box;
 
}

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;

}

h1 {
  margin-bottom: 25px;
  text-align : center;
  font-size: 175%;

}

h3 {
  position:  absolute;
  top:5px;
  right: 5px;
  margin: 10px;
  border: 1px solid black;
  padding: 4px 30px 4px 30px;
  background-color: palevioletred;
  font-size: 125%;

}

section {
  position: relative;
}

p {
  background-color: dimgray;
  margin: 10px;
  border: 1px solid black;
  padding: 45px 20px 30px 30px;
  color: black;
}

.color1{
  background-color: lightskyblue;
}

.color2{
  background-color: lightcoral;

}

.color3{
 background-color: lightgreen;
}

/********** desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }

}

/**********tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}


  /********** Mobile **********/
@media (max-width: 767px)  {
  .col-sm-12 {
    float: left;
  }
  
  .col-sm-12 {
    width: 100%;
  }
}
